# Node.js
node_modules
.env
logs/
dist/

dist/**/*.js
dist/**/*.js.map
src/**/*.js
src/**/*.js.map

# TypeScript
*.tsbuildinfo

# Docker
postgres_data/

# OS
.DS_Store

# Editor configs
.vscode/
.idea/
*.swp

# Test coverage
coverage/
